:root {
  --progress-prev: 0%;
}

.cart-shipping {
  --progress: 0%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 17px;
}

.cart-shipping svg {
  color: rgb(var(--color-accent));
}
.cart-shipping--info {
  width: calc(100% - 24px);
}
.cart-shipping__message {
  display: none;
  align-items: center;
  gap: 0.6rem;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.2px;

}
.cart-shipping__message.active {
  display: flex;
}
.cart-shipping .cart-shipping__message_success.active {
  display: flex;
  color: rgb(var(--color-success));
}
.cart-shipping .cart-shipping__message_success.active + .cart-shipping__progress {
  display: none;
}
.cart-shipping .cart-shipping__icon.active {
  color: rgb(var(--color-success));
}
.cart-shipping__progress {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background: #C6C6C6;
  overflow: hidden;
  margin-top: 7px;
  border-radius: 5px;
}
.cart-shipping__progress-current {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0F49A0;
  width: var(--progress-prev);
  transition: width var(--duration-default);
  border-radius: 5px;
}
.cart-shipping__message {
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .cart-shipping {
    margin-top: 20px;
    gap: 26px;
  }
  .cart-shipping__message {
    font-size: 14px;
    line-height: 1;
  }
  .cart-shipping__progress {
    margin-top: 12px;
  }
  
}