.article {
  position: relative;
  border-radius: var(--border-radius-large);
}
.article .article-card {
  position: relative;
  height: 100%;
}
.article .article-card--image {
  position: relative;
  display: flex;
}
.article .article-card--image::before {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  padding-bottom: var(--image-height);
}
.article .article-card--image > img,
.article .article-card--image > svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-large);
}
.article .article-card--image--link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-large);
  z-index: 1;
}
.article .article-card__author-info {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.article .article-card .padding__background-2,
.article .article-card .padding__background-3 {
  padding: 2rem;
}
.article .article-card__horizontal {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
@media screen and (min-width: 990px) {
  .article .article-card__horizontal {
    grid-template-columns: minmax(auto, 32rem) 1fr;
  }
}
.article .article-card__horizontal .article-content {
  padding-top: 0;
}
.article .article-card__horizontal .article-content.padding__background-2, .article .article-card__horizontal .article-content.padding__background-3 {
  padding: 2rem;
  padding-left: 0;
}
.article .article-card__horizontal .article-card__info {
  justify-content: space-between;
}
.article .article-card__horizontal .article-card__info.only-content {
  justify-content: flex-start;
}
.article .article-card__horizontal .article-card__info.article-without-image {
  padding: 0 3.2rem;
}
.article .article-card__horizontal.horizontal_without_image {
  grid-template-columns: 1fr;
}
.article .article-card__horizontal.small-article {
  grid-template-columns: 8rem 1fr;
  align-items: start;
}
.article .article-card__horizontal.small-article .article-card__info {
  justify-content: flex-start;
}
.article .article-card__horizontal.small-article .article-card__info.only-content {
  justify-content: flex-start;
}
.article .article-card__horizontal.small-article .article-card__info.article-without-image {
  padding: 0 3.2rem;
}
.article .article-card__horizontal.small-article .article-card__author-image {
  display: none;
}
.article .article-card__horizontal.small-article .article-card__bottom {
  margin-top: 0.8rem;
}
.article .article-card__horizontal.small-article .article-card__author {
  margin-top: 0;
}
.article .article-card__overlay {
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.article .article-card__overlay .article-card--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article .article-card__overlay .article-card--image::before {
  display: none;
  content: unset;
  width: 0;
  height: 100%;
  display: block;
  padding-bottom: var(--image-height);
}
.article .article-card__overlay .article-card--image__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-overlay));
  z-index: 1;
  pointer-events: none;
  border-radius: var(--border-radius-large);
}
.article .article-card__overlay .article-content {
  display: flex;
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
}
.article .article-card__overlay .article-content.article-content-height {
  height: 100%;
}
.article .article-card__overlay .article-content::before {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  padding-bottom: var(--image-height);
}
.article .article-card__overlay .article-content .article-card__info {
  height: auto;
  width: 100%;
}
.article .article-card__overlay .article-content .article-card__tags {
  padding-bottom: 0;
  pointer-events: none;
}
.article .article-card__overlay .article-content .article-card__tag {
  pointer-events: all;
  color: rgb(var(--color-foreground));
  transition: all var(--duration-default) linear;
}
.article .article-card__overlay .article-content .article-card__tag:hover {
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background-secondary));
  opacity: 0.7;
}
.article .article-card__overlay .article-content .article-card__main-content {
  padding-top: 0;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.article .article-card__overlay .article-content .article-card__main-content .article-card__title a {
  pointer-events: all;
}
.article .article-card__overlay .article-content .article-card__excerpt {
  color: rgba(var(--color-foreground-secondary), 0.8);
}
.article .article-card__overlay .article-content .article-card__date,
.article .article-card__overlay .article-content .article-card__comments {
  color: rgba(var(--color-foreground), 0.6);
}
.article .article-card__overlay .article-content .article-card__date {
  color: rgba(var(--color-foreground-secondary), 0.8);
}
@media screen and (min-width: 990px) {
  .article .article-card__overlay .article-content {
    padding: 4rem;
  }
}
.article .article-card__overlay .article-card__info {
  justify-content: space-between;
}
.article .article-card__overlay .article-card__info.only-content {
  justify-content: flex-end;
}
.article .article-card__overlay .article-card__info.article-without-image {
  padding: 0 3.2rem;
}
.article .article-card__overlay .overlay-card-bg {
  padding: 2rem;
  background-color: rgba(var(--color-overlay), 0.7);
  border-radius: var(--border-radius-large);
}
@media screen and (min-width: 990px) {
  .article .article-card__overlay .overlay-card-bg {
    padding: 4rem;
  }
}
.article .article-card__overlay .article-card--image {
  overflow: hidden;
  border-radius: var(--border-radius-large);
}
.article .article-card__overlay .article-card--image > img {
  transition: transform var(--duration-default) linear;
}
.article .article-card__overlay:hover .article-card__title {
  color: rgb(var(--color-foreground-title));
}
.article .article-card__overlay:hover .article-card--image > img {
  transform: scale(1.03);
  transition: transform var(--duration-default) linear;
}
.article-content {
  flex: 1;
  padding: 2rem 0 0;
}
.article-content--background {
  background-color: rgb(var(--color-background));
  padding: 2.4rem;
}
@media screen and (min-width: 990px) {
  .article-content--background {
    padding: 3.2rem;
  }
}
@media screen and (min-width: 1536px) {
  .article-content--background {
    padding: 4rem;
  }
}
@media screen and (min-width: 1536px) {
  .article-content--background .article-card__author {
    margin-top: 3.2rem;
  }
}
.article-card:hover .article-card__image img {
  transform: scale3d(1.05, 1.05, 1.05);
}
.article-card:hover .article-card__title {
  color: rgb(var(--color-accent));
}
.article-card__image {
  border-radius: var(--border-radius-large);
  overflow: hidden;
}
.article-card__tags {
  width: calc(100% - 4.8rem);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 750px) {
  .article-card__tags {
    gap: 0.8rem 1.2rem;
  }
}
.article-card__tags_static {
  position: static;
}
.article-card__tag {
  text-transform: capitalize;
  color: rgba(var(--color-foreground), 0.8);
  border-radius: 0.5rem;
  background-color: rgb(var(--color-background-secondary));
  transition: var(--duration-default) ease;
  transition-property: background-color, color;
}
.article-card__tag a {
  display: inline-block;
  line-height: normal;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1.2rem;
  background-color: transparent;
  transition: none;
}
.article-card__tag:hover {
  color: rgb(var(--color-background));
  background-color: rgb(var(--color-accent));
}
.article-card__info {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.article-card__info.article-without-image {
  padding: 0 3.2rem;
}
.article-card__title {
  margin-top: 0;
  word-break: break-word;
  margin-bottom: 1.2rem;
  max-width: 62.6rem;
  transition: all var(--duration-default) linear;
}
.article-card__title:last-child {
  margin-bottom: 0;
}
.article-card__title a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: inherit;
}
.article-card__title:hover {
  color: rgb(var(--color-accent));
}
.article-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem 2.4rem;
  margin-top: 0.4rem;
}
.article-card__author {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 0.4rem;
}
.article-card__author-image {
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.article-card__author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-card__author-name {
  display: block;
  font-weight: var(--font-heading-weight);
}
.article-card__author-name:last-child {
  margin-bottom: 0;
}
.article-card__date {
  display: inline-block;
  color: rgb(var(--color-foreground-secondary));
}
.article-card__date + .article-card__comments::before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.8rem;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(var(--color-foreground), 0.2);
}
.article-card__comments {
  display: inline-block;
  color: rgb(var(--color-foreground-secondary));
}
.article-card__excerpt {
  margin: 0;
  max-width: 62.6rem;
  color: rgb(var(--color-foreground-secondary));
}
.article-card-link {
  display: block !important;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.article-card--overlay {
  flex-direction: row;
}
.article-card--overlay::after {
  content: "";
  width: 0;
  height: 0;
}
.article-card--overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-overlay), 0.4);
  z-index: 1;
}
.article-card--overlay.article-card .article-card__title {
  margin-bottom: 0;
}
.article-card--overlay.article-card .article-card__excerpt {
  margin-top: 0.4rem;
  color: rgba(var(--color-foreground-secondary), 0.8);
}
.article-card--overlay.article-card--landscape::after {
  padding-bottom: 56%;
}
.article-card--overlay.article-card--square::after {
  padding-bottom: 100%;
}
.article-card--overlay.article-card--portrait::after {
  padding-bottom: 125%;
}
.article-card--overlay .media {
  position: static;
  width: 0;
  height: 100%;
  padding-bottom: 0;
}
.article-card--overlay .article-card__tags {
  position: relative;
  inset: 0;
  margin-bottom: 1.6rem;
  pointer-events: all;
}
.article-card--overlay .article-card__tag {
  color: rgba(var(--color-background), 0.8);
  background-color: rgba(var(--color-background), 0.2);
}
.article-card--overlay .article-card__tag:hover {
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
}
.article-card--overlay .article-card__info {
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.article-card--overlay .article-card__info.article-without-image {
  padding: 0 3.2rem;
}
.article-card--overlay .article-card__header {
  margin-top: auto;
}
.article-card--overlay .article-card__excerpt {
  color: rgba(var(--color-foreground-secondary), 0.8);
}
.article-card--overlay .article-card__date,
.article-card--overlay .article-card__comments {
  color: rgba(var(--color-foreground), 0.6);
}
.article-card--overlay .article-card__date {
  color: rgba(var(--color-foreground-secondary), 0.8);
}
.article-card--overlay .article-card__bottom {
  margin-top: unset;
}

@media (prefers-color-scheme: dark) {
  [data-scheme=auto] .blog__post .article-card__tag:not(:hover) {
    background-color: rgb(var(--color-foreground), 0.8);
  }
}
[data-scheme=dark] .blog__post .article-card__tag:not(:hover) {
  background-color: rgb(var(--color-foreground), 0.8);
  color: rgba(1, 22, 36, 0.8);
}