.drawer__inner-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 22px;
  overflow-y: scroll;
  padding-top: 0;
  padding-bottom: 150px;
}
.drawer__inner-empty .cart__empty-collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}
.drawer__inner-empty .cart__empty-collections .collections__card {
  width: 100%;
}
.drawer__inner-empty .cart__empty-collections .collections__card .collections__card__link_overlay {
  font-size: 1.4rem;
  border-radius: 15px;
}
.drawer__inner-empty .cart__empty-collections .collections__card--image {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: #F6F6F6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__empty-collections .collections__card--image>img {
  width: 68.253968254%;
  height: 68.253968254%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart__empty-collections .collections__card:hover .collections__card--image > img {
  transform: translate(-50%, -50%) !important;
}
@media screen and (min-width: 750px) {
  .drawer__inner-empty .cart__empty-collections {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
  }
}

.cart__empty-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cart__empty-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
}
.cart__empty-icon .icon {
  font-size: 2.4rem;
}
@media screen and (min-width: 750px) {
  .cart__empty-icon .icon {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 1150px) {
  .cart__empty-icon .icon {
    font-size: 3.2rem;
  }
}
.cart__empty-icon--shadow {
  padding: 1.6rem;
  background-color: rgba(var(--color-background));
  border-radius: 1rem;
  box-shadow: 0px 8px 40px 0px rgba(var(--color-shadow), 0.08);
}
.cart__empty-icon--subtle {
  color: rgba(var(--color-foreground), 0.14);
}
.cart__empty-icon--contrast {
  color: rgba(var(--color-foreground));
}
.cart__empty-icon--colored {
  color: rgba(var(--color-accent));
}
.cart__empty-icon--colored.cart__empty-icon--gradient {
  color: var(--gradient-accent);
}

.cart__empty-text {
  margin: 0;
}
.cart__empty-text.h4 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.cart__empty-desc {
  margin-top: 12px;
  margin-bottom: 0;
  color: #666666;
  max-width: 355px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
}

.product-option__group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.product-option {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  color: rgb(var(--color-foreground-secondary));
}
.product-option dd {
  margin: 0;
}
.product-option:not(:last-child) dd::after {
  content: ",";
}

.drawer {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: 100dvh;
  max-width: 100%;
  transition: visibility 0.4s ease, top var(--duration-default);
  z-index: 22;
  padding: 0;
  visibility: hidden;
}
@media screen and (min-width: 1760px) {
  .drawer {
    max-width: 1760px;
  }
}
.drawer.active {
  visibility: visible;
}
.drawer.active .drawer__inner {
  transform: translateX(0);
}
.drawer:not(.active) .drawer__inner {
  overflow: hidden;
}
.drawer .cart-drawer {
  overflow: hidden;
  border-radius: 0;
}
.drawer .cart-item .quantity {
  width: 96px;
  min-height: 35px;
  background-color: #F6F6F6;
  border-radius: 100px;
  border: 0.1rem solid rgb(var(--color-border));
  padding-left: 7px;
  padding-right: 3px;
}
@media screen and (min-width: 1024px) {
  .drawer .cart-item .quantity {
    width: 105px;
    min-height: 46px;
  }
}
.drawer .cart-item .quantity__input {
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
}
.drawer .cart-item .quantity__button {
  width: 3.6rem;
}
.drawer .cart-item .quantity__button.disabled {
  pointer-events: all;
  opacity: 1;
}
.drawer .cart-item .quantity__button svg {
  width: 1.6rem;
  color: rgb(var(--color-accent));
}
.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 14px 24px 20px;
}
@media screen and (min-width: 576px) {
  .drawer__contents {
    padding: 4px 20px;
  }
}
.drawer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  border-radius: 0;
  background-color: rgb(var(--color-background));
  justify-content: space-between;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 576px) {
  .drawer__inner {
    max-width: calc(100vw - 4rem);
    width: 53.2rem;
  }
}
.drawer__header {
  position: relative;
  padding: 20px 0 16px 0;
  border-bottom: 0.1rem solid rgb(var(--color-border));
  margin-bottom: 0;
  margin-inline: 20px;
}
.drawer__header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawer__heading {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.drawer__heading span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  min-height: 18px;
  padding: 4px 9px;
  border-radius: 200px;
  background-color: #F6F6F6;
  color: #000000;
  flex: none;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.drawer__close {
  box-shadow: unset;
  color: rgb(var(--color-accent));
  width: 2.4rem;
  height: 2.4rem;
}
.drawer__close .icon-close {
  width: 2.4rem;
  height: 2.4rem;
}
.drawer__close .icon-close > path {
  stroke-width: 1.4;
}
.drawer__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-top: auto;
}
.drawer__footer.with-border {
  border-top: 1px solid rgb(var(--color-border));
}
.drawer__footer .cart-drawer__footer {
  background: #F6F6F6;
  padding: 16px;
  border-radius: 10px;
}
@media screen and (min-width: 576px) {
  .drawer__footer {
    padding: 20px;
  }
}
.drawer .cart-item {
  padding-top: 1.6rem;
  padding-bottom: 15px;
  border-bottom: 0.1rem solid rgb(var(--color-border));
}
.drawer .cart-item .cart-item__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: 5px;
}
.drawer .cart-item:not(:first-child) .cart-item__info {
  padding-top: 11px;
}
@media screen and (min-width: 576px) {
  .drawer .cart-item {
    padding-top: 23px;
    padding-bottom: 1.6rem;
  }
}
.drawer .cart-item:first-child {
  padding-top: 0;
}
.drawer .cart-item:last-child {
  border: none;
}
.drawer .cart-item__actions {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  max-width: 96px;
  min-height: 100px;
  padding-bottom: 0;
}
@media screen and (min-width: 576px) {
  .drawer .cart-item__actions {
    margin-top: 0;
    flex-direction: column;
    max-width: 105px;
    min-height: 120px;
    padding-bottom: 4px;
  }
}
.drawer .cart-item__actions .cart-item__discounted-prices {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 0.6rem;
  flex-direction: column;
}
.drawer .cart-item__actions .cart-item__discounted-prices dd {
  margin-left: 0;
}
.drawer .cart-item__details {
  display: flex;
  width: 100%;
  position: relative;
  gap: 9px;
  justify-content: space-between;
}
@media screen and (min-width: 576px) {
  .drawer .cart-item__details {
    grid-template-columns: 1fr auto;
    grid-gap: 0.8rem;
  }
}
.drawer .cart-item .cart-item__total-price {
  margin-top: 1.6rem;
}
.drawer .cart-item .cart-item__quantity-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.drawer .cart-item__inner-top {
  display: flex;
  column-gap: 8px;
}
.drawer .cart-item__media {
  position: relative;
  width: 7rem;
  min-width: 7rem;
  overflow: hidden;
  padding-bottom: 100% !important;
}
.drawer .cart-item__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.drawer .cart-item__vendor {
  text-transform: capitalize;
  color: rgb(var(--color-foreground-secondary));
}
.drawer .cart-item__vendor.extra-small-font {
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.drawer .cart-item__line {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  column-gap: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .drawer .cart-item__media {
    width: 9rem;
    min-width: 9rem;
  }
}
@media screen and (min-width: 576px) {
  .drawer .cart-item__line {
    column-gap: 2rem;
  }
}
.drawer .cart-item__line-group {
  display: flex;
  flex-direction: column;
}
.drawer .cart-item__name {
  font-family: var(--font-heading-card-family);
  font-weight: var(--font-heading-card-weight);
  text-decoration: none;
  text-transform: var(--font-heading-text-transform);
  transition-property: opacity;
  transition-duration: var(--duration-default);
  color: rgb(var(--color-foreground));
}
.drawer .cart-item__name:hover {
  opacity: 0.7;
}
.drawer .cart-item__name.small-font {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.2px;
  margin-top: 12px;
}
.drawer .cart-item__old-price.small-font {
  color: #C6C6C6;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.2px;
  text-decoration: none;
}
.drawer .cart-item .cart-item__final-price_sale {
  color: rgb(var(--color-foreground-secondary));
}
.drawer .cart-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.4rem;
  margin-top: auto;
}
@media screen and (min-width: 576px) {
  .drawer .cart-item__bottom {
    column-gap: 4.8rem;
  }
}
.drawer .cart-item__totals {
  position: relative;
}
.drawer .cart-item__totals .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
  left: 0;
  top: 0;
  bottom: 0;
}
.drawer .cart-item__totals .loading-overlay:not(.hidden) + .cart-item__price-wrapper {
  opacity: 0.5;
}
.drawer .cart-item__totals .loading-overlay__spinner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.8rem;
  height: 100%;
  transform: translateY(-50%);
}
.drawer .cart-item__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 12px;
}
.drawer .cart-item__discounted-prices {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.6rem;
}
.drawer .cart-item__discounted-prices dd {
  margin-left: 0;
}
.drawer .cart-item__error {
  display: flex;
  align-items: flex-start;
}
.drawer .cart-item__error-text {
  font-size: 1.2rem;
  line-height: var(--font-body-line-height);
  order: 1;
  margin-top: 1rem;
}
.drawer .cart-item__error-text:empty {
  margin-top: 0;
}
.drawer .cart-item__error-text:empty + svg {
  display: none;
}
.drawer .cart-item__error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 1.2rem;
}
.drawer .cart-item cart-remove-button {
  display: flex;
  justify-content: flex-end;
}
.drawer .cart-item cart-remove-button .button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: rgb(var(--color-foreground-secondary));
  line-height: normal;
  font-weight: 500;
  padding: 0;
}
.drawer .cart-item cart-remove-button .button svg {
  width: 1.4rem;
  height: 1.4rem;
  color: rgb(var(--color-accent));
}
.drawer .cart-item cart-remove-button .button:hover {
  opacity: 1;
}
.drawer .cart-item cart-remove-button .button:hover span {
  color: rgba(var(--color-accent), 0.7);
}
.drawer .cart-item .card__subtitle {
  color: rgb(var(--color-foreground-secondary));
}
.drawer .totals:first-child {
  border-top: 0;
}
.drawer .totals > *:not(.discounts) {
  margin: 0;
  text-transform: var(--font-heading-text-transform);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
}
.drawer .totals .discounts {
  width: 100%;
}

.drawer .totals__subtotal-value {
  text-transform: var(--font-heading-text-transform);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
}
@media screen and (min-width: 750px) {
  .drawer .totals__subtotal-value {
    font-size: 2rem;
  }
}
.drawer .cart__ctas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.drawer .cart-drawer__bottom .cart__ctas {
  margin-top: 3px;
}
.drawer .cart__ctas .button--primary,
.drawer .cart__ctas .button--secondary,
.drawer .cart__ctas .button--tertiary {
  min-height: 4.8rem;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-overlay), 0.3);
}
.cart-drawer__overlay:empty {
  display: block;
}
.cart-drawer__footer .totals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}
.cart-drawer .tax-note {
  display: block;
  color: #666666;
  margin-top: 0.8rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
}
.cart-drawer .cart__link {
  margin: 0 auto;
}
.cart-drawer .cart-drawer__bottom .cart__link {
  margin: 0;
  justify-content: flex-start;
  gap: 5px;
}
.cart-drawer .cart-drawer__bottom .cart__link svg {
  transform: rotate(180deg);
}
.cart-drawer .cart-drawer__bottom .cart__link .button-label {
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.2px;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

/*cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}*/
.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

cart-drawer-items {
  overflow: auto;
  margin-right: 0.8rem;
}
cart-drawer-items:not(.is-empty) {
  height: 100%;
}
cart-drawer-items.is-empty {
  display: none;
}

@media screen and (max-height: 700px) {
  cart-drawer-items {
    overflow: visible;
  }

  cart-drawer-items:not(.is-empty) {
    height: auto;
  }

  .drawer__inner {
    overflow: auto;
  }
  .drawer__inner::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .drawer__inner::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-border));
    border-radius: 100px;
  }
}
.cart-drawer .unit-price {
  margin-top: 0;
}

cart-drawer-items::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-border));
  border-radius: 100px;
}

.cart-empty__button {
  width: calc(100% - 40px);
  padding: 9px 32px;
  background-color: #0F49A0;
  border-radius: 200px;
  border: 1px solid #0F49A0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.2px;
  text-align: center;
  color: #FFFFFF;
  min-height: 34px;
  margin-top: 76.5px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.cart-empty__button:hover {
  background-color: #FFFFFF !important;
  color: #0F49A0 !important;
  border: 1px solid #0F49A0;
}
.cart-empty__button:focus {
  outline: 2px solid #FF7322;
  outline-offset: 0;
}
.is-empty .drawer__inner {
  justify-content: flex-start;
  gap: 24px;
}
@media screen and (min-width: 1024px) {
  .drawer__inner {
    width: 526px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    gap: 32px;
  }
  .drawer__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.2px;
    gap: 17px;

  }
  .drawer__heading span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.2px;
    padding: 4px 10px;
  }
  .drawer__header {
    padding: 20px 0 19px;
  }
  .cart__empty-text.h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.2px;
  }
  .cart__empty-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.2px;
    margin-top: 16px;
  }
  .drawer__inner-empty {
    gap: 32px;
  }
}
.cart-item__left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.cart-item__final-price.small-font {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
  color: #000000;
}
.cart__ctas.cart-drawer__ctas {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 8px;
  margin-top: 26px;
}
.cart__ctas.cart-drawer__ctas .cart__update-button,
.cart__ctas.cart-drawer__ctas .cart__checkout-button
{
  flex: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -.2px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-radius: 200px;
}
@media screen and (min-width: 1024px) { 
  .drawer .cart-item__vendor.extra-small-font {
    font-size: 10px;
    line-height: 12px;
  }
  .drawer .cart-item__name.small-font {
    font-size: 14px;
    line-height: 17px;
  }
  .cart-item__final-price.small-font {
    font-size: 14px;
    line-height: 17px;
  }
  .drawer .cart-item__old-price.small-font {
    font-size: 12px;
    line-height: 17px;
  }
  .drawer .cart-item cart-remove-button .button svg {
    width: 18px;
    height: 19px;
  }
  .drawer .cart-item .quantity__input {
    font-size: 18px;
    line-height: 22px;
  }
  .drawer .cart-item__inner-top {
    column-gap: 12px;
  }
  .drawer .cart-item .cart-item__info {
    padding-top: 12px;
  }
  cart-drawer-items {
    margin-right: 3px;
  }
  .drawer .cart-item .quantity {
    padding-left: 11px;
    padding-right: 6px; 
  }
  .drawer .cart-item:not(:first-child) .cart-item__info {
      padding-top: 21px;
  }
  .drawer .totals>*:not(.discounts) {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.2px;
  }
  .drawer__footer .cart-drawer__footer {
    padding: 20px;
    border-radius: 15px;
  }
  .cart-drawer .tax-note {
    font-size: 14px;
    line-height: 17px;
    margin-top: 1.2rem;
  }
  .cart__ctas.cart-drawer__ctas .cart__update-button, .cart__ctas.cart-drawer__ctas .cart__checkout-button {
    font-size: 16px;
    line-height: 1;
    padding: 14px 14px;
  }
  .cart__ctas.cart-drawer__ctas {
    gap: 10px;
    margin-top: 19px;
  }
  .cart-drawer .cart-drawer__bottom .cart__link .button-label {
    font-size: 12px;
    line-height: 1;
  }
  .drawer .cart-drawer__bottom .cart__ctas {
    margin-top: 7px;
  }
}