.collection-hero .breadcrumb {
  margin-top: 0;
  z-index: 2;
}
.collection-hero__wrapper {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-large);
}
.collection-hero-content .page-header .title--page{
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.125;
}
.collection-hero__description.rte p{
  color: #666666;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.collection-hero .breadcrumb a{
  color: #666;  
}
.collection-hero .breadcrumb__delimiter{
  margin-inline: 9px;
}
@media(min-width: 1200px){
  .collection-hero>.container{
    padding: 0 58px;
  }
  .collection-hero__image-wrapper{
    padding-left: 9px;
  }
}
@media screen and (min-width: 750px) {
  .collection-hero__wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 4.8rem;
  }
}
.collection-hero__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.8rem;
  flex: 1;
  max-width: 50rem;
}
@media screen and (min-width: 750px) {
  .collection-hero__text-wrapper {
    gap: 1.6rem;
  }
}
.collection-hero__text-wrapper .collection-hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1;
  margin-bottom: 36px;
}
.collection-hero__text-wrapper .page-header {
  margin-bottom: 0;
}
.collection-hero__description {
  color: rgb(var(--color-foreground-secondary));
}
.collection-hero__description.rte img, .collection-hero__description.rte blockquote {
  max-width: 100%;
}
.collection-hero__description.rte *:first-child {
  margin-top: 0;
}
.collection-hero__description.rte *:last-child {
  margin-bottom: 0;
}
.collection-hero__image-wrapper {
  position: relative;
  flex: 1;
  max-width: 67rem;
  border-radius: var(--border-radius-large);
  overflow: hidden;
}
.collection-hero .breadcrumb a,
.collection-hero .breadcrumb span{
  font-size: 12px;
}
.collection-hero .breadcrumb{
  margin-bottom: 6px;
}
@media(min-width: 992px){
  .collection-hero__text-wrapper .collection-hero-content{
    gap: 12px;
    margin-bottom: 0;
  }
  .collection-hero__description.rte p{
    font-size: 14px;
  }
  .collection-hero .breadcrumb{
    margin-bottom: 24px;
  }
  .collection-hero-content .page-header .title--page{
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.1;
  }
  .collection-hero .breadcrumb a,
  .collection-hero .breadcrumb span{
    font-size: 14px;
  }
}