.collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .collapsible-content__main {
    grid-gap: 1.5rem;
}

.collapsible-content.mos-collapsible-content.mos-collapsible-content-faq h2, 
.collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .h2 {
    letter-spacing: -.7px;
    max-width: 100%;
    text-align: left;
    margin-bottom: 3rem;
}

.collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .collapsible-content__content .collapsible-content__item .collapsible-content__item--main {
    width: 100%;
}

.collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .collapsible-content__content {
    width: 100%;
}

.collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .collapsible-content__content .collapsible-content__question {
    letter-spacing: -.1px;
}

.collapsible-content.mos-collapsible-content.mos-collapsible-content-faq  .collapsible-content__content .collapsible-content__item {
    margin-bottom: 1.1rem;
}

.collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .mos-collapsible-content_image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .collapsible-content__content .collapsible-content__item {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 990px) {
    .collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .collapsible-content__main {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .collapsible-content.mos-collapsible-content.mos-collapsible-content-faq h2,
    .collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .h2 {
        letter-spacing: 0;
        max-width: 100%;
        margin-bottom: 3.8rem;
    }

    .collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .collapsible-content__content .collapsible-content__question {
        letter-spacing: 0;
    }

    .collapsible-content.mos-collapsible-content.mos-collapsible-content-faq .mos-collapsible-content_image-wrapper img {
        border-radius: 15px;
    }
}