.collapsible-content.mos-collapsible-content .collapsible-content__main {
    grid-gap: 3.7rem;
}

@media screen and (min-width: 990px) {
    .collapsible-content.mos-collapsible-content .collapsible-content__main {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;
    }

    .collapsible-content.mos-collapsible-content .collapsible-content__content {
        grid-column: span 2;
    }
}

.collapsible-content.mos-collapsible-content h2,
.collapsible-content.mos-collapsible-content .h2 {
    font-size: calc(var(--font-heading-h3-scale) * 2.4rem);
    letter-spacing: -.5px;
    line-height: 130%;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.collapsible-content.mos-collapsible-content h3,
.collapsible-content.mos-collapsible-content .h3 {
    font-size: calc(var(--font-heading-h3-scale) * 2.2rem);
    letter-spacing: 0;
    line-height: 130%;
    margin-bottom: 1rem;
    font-weight: 500;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content h2,
    .collapsible-content.mos-collapsible-content .h2 {
        font-size: calc(var(--font-heading-h3-scale) * 2.8rem);
        margin-bottom: 1rem;
    }

    .collapsible-content.mos-collapsible-content h3,
    .collapsible-content.mos-collapsible-content .h3 {
        font-size: calc(var(--font-heading-h3-scale) * 2.6rem);
    }
}

@media only screen and (min-width: 1150px) {
    .collapsible-content.mos-collapsible-content h2,
    .collapsible-content.mos-collapsible-content .h2 {
        font-size: calc(var(--font-heading-h3-scale) * 3.2rem);
        letter-spacing: .2px;
    }

    .collapsible-content.mos-collapsible-content h3,
    .collapsible-content.mos-collapsible-content .h3 {
        font-size: calc(var(--font-heading-h3-scale) * 3rem);
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content__toggle {
    padding-top: 1.7rem;
}

.collapsible-content.mos-collapsible-content .collapsible-content__item--main:not(.active) .collapsible-content__toggle {
    padding-top: 1.2rem;
    padding-bottom: 1.1rem;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content__item--main:not(.active) .collapsible-content__toggle {
        padding-top: 1.7rem;
        padding-bottom: 1.8rem;
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content__buttons {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.collapsible-content.mos-collapsible-content .collapsible-content_info .button {
    border-radius: 200px;
    font-weight: var(--mos-font-button-weight);
    padding: .5rem 2.2rem;
    min-height: 3.4rem;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content_info .button {
        padding: 1rem 3.2rem;
        min-height: 4.4rem;
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content_info .button--primary {
    background-color: rgba(var(--mos-color-button));
    border: 1px solid rgba(var(--mos-color-button))
}

.collapsible-content.mos-collapsible-content .collapsible-content_info .button--secondary {
    background-color: transparent;
    border: 1px solid rgba(var(--mos-color-button));
    color: rgba(var(--mos-color-button));
}

.collapsible-content.mos-collapsible-content .collapsible-content__item .collapsible-content__item--subheading {
    text-transform: none;
    font-weight: var(--mos-font-heading-weight);
    color: rgba(var(--mos-color-text));
    margin-bottom: 1.2rem;
}

.collapsible-content.mos-collapsible-content .collapsible-content__item .collapsible-content__item--subheading.change-subheading {
    font-weight: var(--mos-font-subheading-change-weight);
    color: rgba(var(--mos-color-subheading-change));
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content__item .collapsible-content__item--subheading {
        margin-bottom: 1.6rem;
    }

    .collapsible-content.mos-collapsible-content .collapsible-content__item .collapsible-content__item--subheading.change-subheading {
        font-size: 1.4rem;
        margin-bottom: 1.3rem;
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content__item:not(:first-of-type) .collapsible-content__item--subheading {
    margin-top: 3.7rem;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content__item:not(:first-of-type) .collapsible-content__item--subheading {
        margin-top: 5.5rem;
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item {
    margin-bottom: 1.2rem;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item {
        margin-bottom: 1.6rem;
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item:last-child {
    margin-bottom: 0;
}

.collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item .collapsible-content__item--main {
    border: 0;
    background-color: rgba(var(--mos-color-background));
    border-radius: 16px;
    padding: 0 1.6rem 0 1.5rem;
}

.collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item .collapsible-content__item--main:not(.active) {
    padding: 0 1.3rem 0 1.2rem;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item .collapsible-content__item--main,
    .collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item .collapsible-content__item--main:not(.active) {
        padding: 0 1.6rem 0 1.4rem;
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content__answer {
    padding-top: 1.5rem;
    padding-right: 0;
    padding-bottom: 1.5rem;
}

.collapsible-content.mos-collapsible-content .collapsible-content_info--desc {
    max-width: 100%;
    line-height: 100%;
    margin-bottom: 1.6rem;
    color: #666;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content_info--desc {
        margin-bottom: 3.2rem;
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__question {
    letter-spacing: -.1px;
    line-height: 110%;
}

.collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item--main:not(.active) .collapsible-content__question {
    line-height: 120%;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__question {
        line-height: 120%;
    }

    .collapsible-content.mos-collapsible-content .collapsible-content__content .collapsible-content__item--main:not(.active) .collapsible-content__question {
        line-height: 2.2rem;
    }
}

.collapsible-content.mos-collapsible-content .collapsible-content__answer-inner {
    max-width: 100%;
}

.collapsible-content.mos-collapsible-content .collapsible-content__answer-inner p {
    font-weight: 500;
    letter-spacing: -.2px;
    line-height: 100%;
}

.collapsible-content.mos-collapsible-content .collapsible-content__icon svg {
    margin-top: 7px;
}

.collapsible-content.mos-collapsible-content .collapsible-content__item--main:not(.active) .collapsible-content__icon svg {
    margin-top: 0;
    width: 18px;
    height: 18px;
}

@media only screen and (min-width: 750px) {
    .collapsible-content.mos-collapsible-content .collapsible-content__icon svg {
        margin-top: 0;
    }
}
