.banner-slider-mos {
  overflow: hidden;
}
.banner-slider-mos__wrapper .banner-slider-mos-content {
  position: relative;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}
@media screen and (min-width: 576px) {
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--3, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--4, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--5, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--6, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--7, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--8, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--9 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--3, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--4, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--5, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--6 {
    grid-template-columns: repeat(3, 1fr);
  }
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--7, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--8, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--9 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--4, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--5, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--6 {
    grid-template-columns: repeat(4, 1fr);
  }
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--7, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--8, .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items--9 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1150px) {
  .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__items {
    grid-template-columns: repeat(var(--column-per-row), 1fr);
  }
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 3px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  height: auto;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item::before {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  padding-bottom: var(--image-height);
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item .banner-slider-mos__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-overlay));
  z-index: 2;
  pointer-events: none;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--badge-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  gap: 0.8rem;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--badge-wrapper.flex-end {
  justify-content: flex-end;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  padding: 17px 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--details:hover {
  background-color: #e8e8e8;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--details__heading {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.2px;

}

.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--details__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem 0.8rem;
  border-radius: var(--border-radius-small);
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--details__badge .banner-slider-mos__badge_text {
  font-weight: 700;
}
.banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item__image > img {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--duration-default) linear;
}
.banner-slider-mos.color-background-2 .banner-slider-mos-content .banner-slider-mos__item {
  background-color: rgb(var(--color-background-secondary));
}

@media (prefers-color-scheme: dark) {
  [data-scheme=auto] .banner-slider-mos-content .banner-slider-mos__item {
    background-color: rgb(var(--color-background-secondary));
  }
}
[data-scheme=dark] .banner-slider-mos-content .banner-slider-mos__item {
  background-color: rgb(var(--color-background-secondary));
}

.no-js .banner-slider-mos-content .swiper:not(.swiper-initialized) {
  opacity: 1;
}
.no-js .banner-slider-mos .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
}

.banner-slider-mos-content .swiper:not(.swiper-initialized) .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
}

.banner-slider-mos__card-wrapper:has(.banner-slider-mos__overlay_link:focus) .banner-slider-mos__item {
  border: 2px solid rgb(var(--color-foreground));
}
.banner-slider-mos__card-wrapper:has(.banner-slider-mos__item--details:focus) .banner-slider-mos__item {
  border: 2px solid rgb(var(--color-foreground));
}
.banner-slider-mos__item--details__arrow {
    transform: rotate(270deg);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-slider-mos .h2.section-header__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -1px;
}
.banner-slider-mos .swiper-button-prev,.banner-slider-mos .swiper-button-next {
    width: 30px;
    height: 30px;
}
.banner-slider-mos .swiper-navigation svg {
    height: 12px;
}
.banner-slider-mos .swiper-navigation .swiper-button-next {
    transform: translate(67%);
}
@media screen and (min-width: 1150px) {
    .container.banner-slider-mos__container {
        padding-right: 0;
    }
    .banner-slider-mos .h2.section-header__title {
        font-size: 32px;
        letter-spacing: 0;
    }
    .banner-slider-mos .section-header {
        margin-bottom: 40px;
    }
    .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__card-wrapper {
        width: 240px;
    }
    .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--details__heading {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: -0.2px;
    }
    .banner-slider-mos__wrapper .banner-slider-mos-content .banner-slider-mos__content .banner-slider-mos__item--details {
        padding: 24px 12px;
    }
    .banner-slider-mos .swiper-button-prev, .banner-slider-mos .swiper-button-next {
        width: 40px;
        height: 40px;
    }
    .banner-slider-mos .swiper-navigation .swiper-button-next {
        position: absolute;
        top: 50%;
        right: 17px;
        transform: translate(-50%, -50%);
    }
    .banner-slider-mos .swiper-navigation svg {
        height: 14px;
    }
}