.featured-product .product-parameters + .price-wrapper,
.featured-product .price-wrapper + .installment-wrapper + .product__inventory {
  margin-top: 2.4rem;
}
.featured-product .product__outer {
  padding-top: 0;
  gap: 2rem;
}
@media (min-width: 1150px) {
  .featured-product .product__outer.product__outer--slider-bullets, .featured-product .product__outer.product__outer--grid-gallery, .featured-product .product__outer.product__outer--slider-previews, .featured-product .product__outer.product__outer--stacked-gallery {
    gap: 6.4rem;
    justify-content: flex-start;
  }
}
@media (min-width: 1150px) {
  .featured-product .product__outer.product__outer--slider-bullets .product__info-container, .featured-product .product__outer.product__outer--grid-gallery .product__info-container, .featured-product .product__outer.product__outer--slider-previews .product__info-container, .featured-product .product__outer.product__outer--stacked-gallery .product__info-container {
    max-width: 55rem;
    width: 100%;
    margin: 0 auto 0 0;
  }
}
.featured-product .product__left, .featured-product .product__right {
  max-width: 100%;
  width: 100%;
}
.featured-product .product__media-toggle, .featured-product .product__media-icon {
  display: none;
}
.featured-product .product__title a {
  text-decoration: none;
  transition: opacity var(--duration-default);
}
.featured-product .product__title a:hover {
  opacity: 0.7;
}