.testimonials__slider-wrapper {
  position: relative;
  min-width: 0;
}
.testimonials__slide {
  box-sizing: border-box;
  height: 100%;
  padding: 2.4rem;
  background-color: rgb(var(--color-background));
  border-radius: var(--border-radius-large);
  overflow: hidden;
  border: 0.1rem solid rgb(var(--color-border));
  border-radius: var(--border-radius-large);
}
@media screen and (min-width: 990px) {
  .testimonials__slide {
    padding: 3.2rem;
  }
}
.testimonials__slide--center .testimonials__item {
  align-items: center;
}
.testimonials__slide--center .testimonials__text {
  text-align: center;
}
.testimonials__slide-stars {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
}
@media screen and (min-width: 1150px) {
  .testimonials__slide-stars {
    justify-content: unset;
  }
}
.testimonials__slide-stars .icon-star {
  width: 1.4rem;
  height: 1.4rem;
}
.testimonials__slide-stars .icon-star path {
  fill: rgb(var(--color-border));
}
.testimonials__slide-stars .icon-star.star-active {
  opacity: 1;
}
.testimonials__slide-stars .icon-star.star-active path {
  fill: rgb(var(--color-accent));
}
.testimonials__rating {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.8rem;
}
.testimonials__rating-count {
  font-weight: var(--font-subtitle-weight);
}
.testimonials__rating:last-child {
  margin-bottom: 0;
}
.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.testimonials__item--details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testimonials__text {
  margin-top: 0;
  margin-bottom: 0.8rem;
  max-width: 103.5rem;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: calc(var(--font-heading-letter-spacing) * 0.1);
  color: rgb(var(--color-foreground-title));
  line-height: var(--font-heading-line-height);
}
.testimonials__text.h6 {
  line-height: var(--font-body-line-height);
}
.testimonials__text:last-child {
  margin-bottom: 0;
}
.testimonials__author {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  margin-top: auto;
}
.testimonials__author-icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials__author-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials__author-info {
  display: flex;
  align-items: center;
  gap: 3px;
  flex-wrap: wrap;
}
.testimonials__author-info > p {
  margin: 0;
}
.testimonials__author-info > span {
  color: rgb(var(--color-foreground-secondary));
}
.testimonials__author-name + .testimonials__author-position {
  margin-top: 0.2rem;
}
.testimonials__author-position {
  color: rgb(var(--color-foreground-secondary));
}
.testimonials .testimonials_card {
  width: 100%;
  margin-top: 4rem;
}
@media screen and (min-width: 1150px) {
  .testimonials__navigation_margin {
    top: calc(50% - 1.6rem - 0.6rem);
  }
}
.testimonials__navigation--mobile-center {
  justify-content: center;
}
@media screen and (min-width: 1150px) {
  .testimonials__navigation--mobile-center {
    justify-content: space-between;
  }
}
.testimonials__navigation--mobile-hidden {
  display: none;
}
@media screen and (min-width: 1150px) {
  .testimonials__navigation--mobile-hidden {
    display: flex;
  }
}
.testimonials__navigation--desktop-hidden {
  display: flex;
}
@media screen and (min-width: 1150px) {
  .testimonials__navigation--desktop-hidden {
    display: none;
  }
}
.testimonials__slider {
  /*&.testimonials__slider--simple_slider,
  &.testimonials__slider--marquee,
  &.testimonials__slider--image_top_slider {
    .testimonials__text {
      font-size: 1.6rem;

      @media only screen and (min-width: $xxl) {
        font-size: 2rem;
      }
    }
  }*/
}
.testimonials__slider:not(.swiper-initialized) .testimonials__wrapper {
  display: flex;
  gap: 2.4rem;
}
.testimonials__slider:not(.swiper-initialized) .swiper-slide {
  width: 100%;
}
@media screen and (min-width: 750px) {
  .testimonials__slider:not(.swiper-initialized) .swiper-slide {
    width: calc(50% - 1.2rem);
  }
}
@media screen and (min-width: 1150px) {
  .testimonials__slider:not(.swiper-initialized) .swiper-slide {
    width: calc(33.3333333333% - 1.6rem);
  }
}
@media screen and (min-width: 1150px) {
  .testimonials__slider:not(.swiper-initialized).testimonials__slider--columns-1 .swiper-slide {
    width: 100%;
  }
}
.testimonials__slider .swiper-slide {
  height: auto;
}