.product-recommendations {
  display: block;
  position: relative;
  z-index: 8;
}
.product-recommendations .products-slider__container {
  margin: -10px;
}
.product-recommendations .products-slider__swiper {
  overflow-y: unset;
  overflow-x: clip;
}
.product-recommendations__list {
  margin-top: 2.4rem;
  position: relative;
}
@media (min-width: 1150px) {
  .product-recommendations__list {
    margin-top: 4.8rem;
  }
}
@media (min-width: 1360px) {
  .product-recommendations__list {
    margin-top: 5.6rem;
  }
}
.product-recommendations__list:not(.swiper-initialized) .swiper-wrapper {
  opacity: 0;
}
.product-recommendations__slider-nav {
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-inline: 0.8rem;
  transform: translateY(-50%);
  pointer-events: none;
}
@media (min-width: 1150px) {
  .product-recommendations__slider-nav {
    left: -3rem;
    right: -3rem;
    padding: 0;
  }
}
.product-recommendations__slider-nav .swiper-button-prev,
.product-recommendations__slider-nav .swiper-button-next {
  width: 4.4rem;
  height: 4.4rem;
  pointer-events: all;
}
@media (min-width: 1150px) {
  .product-recommendations__slider-nav .swiper-button-prev,
.product-recommendations__slider-nav .swiper-button-next {
    width: 5.2rem;
    height: 5.2rem;
  }
}
.product-recommendations__slider-nav .swiper-button-prev.swiper-button-disabled,
.product-recommendations__slider-nav .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.product-recommendations.complementary-products {
  overflow: visible;
}
.product-recommendations__item {
  position: relative;
}
.product-recommendations__item--border {
  padding-top: 4rem;
  border-top: 0.1rem solid rgb(var(--color-border));
}
.product-recommendations__heading {
  margin: 0;
}
.product-recommendations .grid__item {
  padding-bottom: 0;
}
.product-recommendations .card-wrapper {
  background-color: transparent !important;
}
@media screen and (min-width: 990px) {
  .product-recommendations .quickview--hover:hover:hover .card--product {
    z-index: 2;
  }
  .product-recommendations .quickview--hover:hover:hover::before {
    opacity: 1;
    height: calc(var(--open-height, auto) - 1.6rem);
    z-index: 2;
  }
  .product-recommendations .quickview--hover:hover .card-wrapper__image {
    opacity: 1;
    transform: scale(1.05);
  }
  .product-recommendations .quickview--hover:hover .placeholder-svg {
    transform: scale(1.05);
  }
  .product-recommendations .quickview--hover:hover .media.media--hover-effect > img:first-child:not(:only-of-type) {
    opacity: 0;
    transform: scale(1.12);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .product-recommendations .quickview--hover:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transform: scale(1.1);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .product-recommendations .quickview--hover:hover .media.media--hover-effect > img {
    transform: scale(1.12);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .product-recommendations .quickview--hover:hover .card__link {
    opacity: 1 !important;
    transform: translateX(-50%) translateY(0);
  }
  .product-recommendations .quickview--hover:hover .button--link {
    transform: unset;
  }
  .product-recommendations .quickview--hover:hover .button--link > svg {
    transform: scale(1.05);
  }
}
.product-recommendations .quickview--hover:hover.product-card .product-parameters .card__button-quick-buy {
  opacity: 1;
}
.product-recommendations .quickview--hover:hover.product-card .product-parameters-color {
  opacity: 1;
}
.product-recommendations .quickview--hover:hover.product-card .product_color-count {
  display: none;
  opacity: 0;
  pointer-events: none;
}

[data-scheme=light] .product-recommendations.color-background-3 .card-wrapper {
  --color-background: 40, 40, 40;
  --color-background-secondary: 31, 31, 31;
  --gradient-background: #282828;
  --color-foreground: 249, 249, 249;
  --color-foreground-secondary: 169, 169, 169;
  --color-foreground-title: 249, 249, 249;
  --color-button-text: 249, 249, 249;
  --color-button-text-hover: 249, 249, 249;
  --color-button: 40, 40, 40;
  --color-button-hover: 53, 53, 53;
  --color-button-secondary: 249, 249, 249;
  --color-button-secondary-hover: 238, 238, 238;
  --color-button-secondary-text: 40, 40, 40;
  --color-button-secondary-text-hover: 40, 40, 40;
  --color-button-tertiary-text: 40, 40, 40;
  --color-button-tertiary-text-hover: 249, 249, 249;
  --color-button-tertiary: 40, 40, 40;
  --color-button-tertiary-hover: 40, 40, 40;
  --color-overlay: 105, 105, 105;
  --color-border-input: 62, 62, 62;
  --color-background-input: 53, 53, 53;
  --color-background-input-hover: 62, 62, 62;
  --color-border: 62, 62, 62;
}

@media (prefers-color-scheme: light) {
  [data-scheme=auto] .product-recommendations.color-background-3 .card-wrapper {
    --color-background: 40, 40, 40;
    --color-background-secondary: 31, 31, 31;
    --gradient-background: #282828;
    --color-foreground: 249, 249, 249;
    --color-foreground-secondary: 169, 169, 169;
    --color-foreground-title: 249, 249, 249;
    --color-button-text: 249, 249, 249;
    --color-button-text-hover: 249, 249, 249;
    --color-button: 40, 40, 40;
    --color-button-hover: 53, 53, 53;
    --color-button-secondary: 249, 249, 249;
    --color-button-secondary-hover: 238, 238, 238;
    --color-button-secondary-text: 40, 40, 40;
    --color-button-secondary-text-hover: 40, 40, 40;
    --color-button-tertiary-text: 40, 40, 40;
    --color-button-tertiary-text-hover: 249, 249, 249;
    --color-button-tertiary: 40, 40, 40;
    --color-button-tertiary-hover: 40, 40, 40;
    --color-overlay: 105, 105, 105;
    --color-border-input: 62, 62, 62;
    --color-background-input: 53, 53, 53;
    --color-background-input-hover: 62, 62, 62;
    --color-border: 62, 62, 62;
  }
}