.template-404__page .page-header {
  margin: 0;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: center;
}
.template-404__page .page-header .title--page {
  margin-bottom: 0;
}
.template-404__page predictive-search {
  display: flex;
  justify-content: center;
}
.template-404__page .search__form-text {
  color: rgb(var(--color-foreground-secondary));
  max-width: 49.8rem;
  margin: 0 auto;
  text-align: center;
}
.template-404__page .search__form-text + .search__form-text {
  margin-bottom: 1.6rem;
}
.template-404__page .search__form-inner .field input[type=search] {
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 576px) {
  .template-404__page .search__form-inner .field input[type=search] {
    margin-bottom: 0;
  }
}

.template-404__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  margin-bottom: 1.6rem;
  background-color: rgba(var(--color-background-secondary));
  border-radius: 50%;
}
.template-404__icon svg {
  width: 3.2rem;
  height: 3.2rem;
}
.template-404__icon svg path {
  fill: rgb(var(--color-accent));
}
@media screen and (min-width: 990px) {
  .template-404__icon svg {
    width: 4.8rem;
    height: 4.8rem;
  }
}
@media screen and (min-width: 990px) {
  .template-404__icon {
    padding: 3.5rem;
  }
}

.template-search__search .search.search,
.template-404__page .search {
  max-width: 65.7rem;
  width: 100%;
  margin: 0 auto;
}
.template-search__search .search.search__form-inner,
.template-404__page .search__form-inner {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  z-index: 11;
}
@media screen and (min-width: 576px) {
  .template-search__search .search.search__form-inner,
.template-404__page .search__form-inner {
    flex-direction: row;
  }
}
.template-search__search .search.search__form-inner .field input[type=search],
.template-404__page .search__form-inner .field input[type=search] {
  width: 100%;
  flex-grow: 1;
  padding: 1rem 1.6rem;
}
@media screen and (min-width: 576px) {
  .template-search__search .search.search__form-inner .field input[type=search],
.template-404__page .search__form-inner .field input[type=search] {
    width: auto;
  }
}
.template-search__search .search.search__form-inner .field,
.template-404__page .search__form-inner .field {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 65.7rem;
  gap: 0.8rem;
}
@media screen and (min-width: 576px) {
  .template-search__search .search.search__form-inner .field,
.template-404__page .search__form-inner .field {
    flex-direction: row;
  }
}
.template-search__search .search.search__form-inner .field .field__input,
.template-404__page .search__form-inner .field .field__input {
  z-index: 3;
}
@media screen and (min-width: 576px) {
  .template-search__search .search.search__form-inner .field .field__input,
.template-404__page .search__form-inner .field .field__input {
    padding-right: 10.2rem;
  }
}
.template-search__search .search.search__form-inner .field .predictive-search,
.template-404__page .search__form-inner .field .predictive-search {
  width: 100%;
  flex-grow: 1;
}
.template-search__search .search.search__form-inner .button,
.template-404__page .search__form-inner .button {
  width: 100%;
  font-weight: 700;
}
@media screen and (min-width: 576px) {
  .template-search__search .search.search__form-inner .button,
.template-404__page .search__form-inner .button {
    width: auto;
  }
}

.template-search__search .search.search {
  margin: 0;
}

.template-search__search .search-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.template-search__search .search .search__form-inner .field {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}
.template-search__search .search .search__form-inner .field .field__inner {
  width: 100%;
  max-width: 54.7rem;
  position: relative;
}
.template-search__search .search .search__form-inner .field .field__inner .remove__button {
  border: none;
  position: absolute;
  z-index: 12;
  right: 1.6rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  padding: 0;
  background: transparent;
}
.template-search__search .search .search__form-inner .field .field__inner .remove__button:hover {
  opacity: 0.7;
}
.template-search__search .search .search__form-inner .field .field__inner .remove__button svg {
  color: rgb(var(--color-accent));
}
.template-search__search .search__form-text {
  margin-top: 0;
  max-width: 49.8rem;
  line-height: var(--font-body-line-height);
  text-align: left;
  color: rgb(var(--color-foreground-secondary));
  margin-bottom: 1.6rem;
}

.search-results__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  margin-top: 4.8rem;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 576px) {
  .search-results__top {
    margin-bottom: 2.4rem;
  }
}
@media screen and (min-width: 990px) {
  .search-results__top {
    margin-top: 6.4rem;
  }
}
.search-results__top.first {
  margin-top: 0;
}
.search-results__title {
  margin: 0;
  color: rgba(var(--color-foreground));
}
.search-results__count {
  color: rgba(var(--color-foreground), 0.6);
}

.template-search__page .card-page {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(var(--color-background-secondary));
  border-radius: var(--border-radius-large);
  max-width: unset;
  transition: opacity var(--duration-default) linear;
}
.template-search__page .card-page:hover {
  opacity: 0.7;
}
.template-search__page .card-page .icon-wrapper {
  display: flex;
  margin-bottom: 0;
}
.template-search__page .card-page .icon-wrapper > svg {
  color: rgb(var(--color-foreground-title));
  width: 2.4rem;
  height: 2.4rem;
}
@media screen and (min-width: 576px) {
  .template-search__page .card-page {
    padding: 2rem;
  }
}
.template-search__page .card-page .icon-page {
  flex-shrink: 0;
}
.template-search__page .card-page .card-page__title {
  margin: 0;
}

.template-search .page-header {
  margin-bottom: 3.2rem;
  margin-top: 0 !important;
}
.template-search .page-header.small-mb {
  margin-bottom: 0.4rem;
}
.template-search .template-search__header .page-header {
  margin-bottom: 1.6rem;
  margin-top: 0 !important;
}
.template-search .template-search__header .page-header.small-mb {
  margin-bottom: 0.4rem;
}
.template-search .template-search__search .predictive-search--search-template {
  /*position: absolute;
  z-index: 5;*/
  max-width: 66.6rem;
  margin-top: 1.6rem;
  padding: 3.2rem;
  border-radius: 1.2rem;
  background-color: rgb(var(--color-background));
  box-shadow: 0px 8px 40px 0px rgba(var(--color-shadow), 0.08);
}
.template-search .template-search__search .predictive-search--search-template .predictive-search-results-wrapper,
.template-search .template-search__search .predictive-search--search-template .predictive-search__pages-wrapper {
  max-height: 40vh;
}
.template-search .template-search__search .predictive-search__result-group {
  margin-top: 0;
}
.template-search__header {
  padding-bottom: 3.2rem;
}
@media screen and (min-width: 750px) {
  .template-search__header {
    padding-bottom: 4.8rem;
  }
}
.template-search__header.template-search__header-without-indent {
  padding-bottom: 0;
}
.template-search--empty .template-search__header {
  padding-bottom: 0;
}

.template-search__page {
  position: relative;
}
.template-search__page .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 11.6rem;
  background-color: rgb(var(--color-background));
  border-radius: 0.4rem;
  padding: 0;
  border-radius: var(--border-radius-large);
}
.template-search__page .card-wrapper::before {
  content: unset;
}
.template-search__page .card-wrapper .card-page {
  min-height: 11.6rem;
}

.template-search__search {
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (min-width: 990px) {
  .template-search__results .pagination-wrapper {
    margin-top: 7rem;
  }
}

.template-search__results ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.collection-results {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 576px) {
  .collection-results {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .collection-results {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .collection-results {
    grid-template-columns: repeat(4, 1fr);
  }
}
.collection-results__pages {
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 576px) {
  .collection-results__pages {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .collection-results__pages {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .collection-results__pages {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .collection-results__pages {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .facets-container--vertical + .products-grid .collection-results {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .facets-container--vertical + .products-grid .collection-results {
    grid-template-columns: repeat(3, 1fr);
  }
}