.section-list-collections .section-header__desc {
  margin-top: 0 !important;
  max-width: 49.8rem;
}
.section-list-collections .page-header {
  text-align: left;
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 750px) {
  .section-list-collections .page-header {
    margin-bottom: 5.6rem;
  }
}
.section-list-collections .page-header .page-header__inner + .collections-list__description {
  margin-top: 0.8rem;
}
@media screen and (min-width: 750px) {
  .section-list-collections .page-header .page-header__inner + .collections-list__description {
    margin-top: 1.6rem;
  }
}

.collections__page {
  margin-top: 2.4rem;
}

.collections__grid {
  overflow: hidden;
}
.collections__grid__wrapper .content {
  position: relative;
}
.collections__grid__wrapper .content .swiper-slide.swiper-slide-flexible {
  display: flex;
  height: auto;
}
.collections__grid__wrapper .content .swiper-navigation {
  display: flex;
}
.collections__grid__wrapper .content .collections__grid__content {
  padding-top: 1.6rem;
}
@media screen and (min-width: 750px) {
  .collections__grid__wrapper .content .collections__grid__content {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1150px) {
  .collections__grid__wrapper .content .collections__grid__content {
    padding-top: 2.4rem;
  }
}
.collections__grid__wrapper .content .collections__grid__content.swiper:not(.swiper-initialized) {
  opacity: 0;
}

.collections-grid {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.collections-grid.collections-grid--simple {
  gap: 3.2rem 2.4rem;
}
@media screen and (min-width: 576px) {
  .collections-grid--2.collections-grid--simple, .collections-grid--3.collections-grid--simple, .collections-grid--4.collections-grid--simple, .collections-grid--5.collections-grid--simple, .collections-grid--6.collections-grid--simple, .collections-grid--7.collections-grid--simple, .collections-grid--8.collections-grid--simple {
    grid-template-columns: repeat(2, 1fr);
  }
  .collections-grid--5 .collections-grid__item--simple, .collections-grid--6 .collections-grid__item--simple, .collections-grid--7 .collections-grid__item--simple, .collections-grid--8 .collections-grid__item--simple {
    gap: 1.6rem;
  }
}
@media screen and (min-width: 750px) {
  .collections-grid.collections-grid--simple {
    gap: 4.8rem 2.4rem;
  }
  .collections-grid--2, .collections-grid--3, .collections-grid--4, .collections-grid--5, .collections-grid--6, .collections-grid--7, .collections-grid--8 {
    grid-template-columns: repeat(2, 1fr);
  }
  .collections-grid--2.collections-grid--simple, .collections-grid--3.collections-grid--simple, .collections-grid--4.collections-grid--simple, .collections-grid--5.collections-grid--simple, .collections-grid--6.collections-grid--simple, .collections-grid--7.collections-grid--simple, .collections-grid--8.collections-grid--simple {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .collections-grid.collections-grid--simple {
    gap: 5.6rem 2.4rem;
  }
  .collections-grid--3, .collections-grid--4, .collections-grid--5, .collections-grid--6, .collections-grid--7, .collections-grid--8 {
    grid-template-columns: repeat(3, 1fr);
  }
  .collections-grid--3.collections-grid--simple, .collections-grid--4.collections-grid--simple, .collections-grid--5.collections-grid--simple, .collections-grid--6.collections-grid--simple, .collections-grid--7.collections-grid--simple, .collections-grid--8.collections-grid--simple {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1150px) {
  .collections-grid--4, .collections-grid--5, .collections-grid--6, .collections-grid--7, .collections-grid--8 {
    grid-template-columns: repeat(4, 1fr);
  }
  .collections-grid--4.collections-grid--simple, .collections-grid--5.collections-grid--simple, .collections-grid--6.collections-grid--simple, .collections-grid--7.collections-grid--simple, .collections-grid--8.collections-grid--simple {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .collections-grid--5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .collections-grid--5.collections-grid--simple {
    grid-template-columns: repeat(5, 1fr);
  }
  .collections-grid--6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .collections-grid--6.collections-grid--simple {
    grid-template-columns: repeat(6, 1fr);
  }
  .collections-grid--7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .collections-grid--7.collections-grid--simple {
    grid-template-columns: repeat(7, 1fr);
  }
  .collections-grid--8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .collections-grid--8.collections-grid--simple {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .collections-grid--2-mobile:not(.collections-grid--1) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.no-js .collections__grid .swiper:not(.swiper-initialized) {
  opacity: 1;
}
.no-js .collections__grid .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
}

.collections__grid .swiper:not(.swiper-initialized) .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
}