.collection-wrapper {
  position: relative;
  overflow-y: unset;
  overflow-x: clip;
}
@media screen and (min-width: 990px) {
  .collection-wrapper--vertical {
    display: grid;
    align-items: flex-start;
    column-gap: 0.8rem;
    grid-template-columns: 206px 2fr;
    grid-template-rows: 4rem auto 1fr;
  }
}
@media screen and (min-width: 1150px) {
  .collection-wrapper--vertical {
    grid-template-columns: 206px 3fr;
  }
}
.collection-wrapper--vertical--empty {
  grid-template-columns: 1;
}
.collection-wrapper_no-facets {
  grid-template-rows: auto;
}
.collection-wrapper_no-facets .products-grid {
  margin-top: 0;
}
.collection-wrapper--horizontal, .collection-wrapper--horizontal_united {
  display: flex;
  flex-direction: column;
}
.collection-wrapper--horizontal .facets-container, .collection-wrapper--horizontal_united .facets-container {
  order: 1;
}
.collection-wrapper--horizontal .facets__top, .collection-wrapper--horizontal_united .facets__top {
  order: 2;
}
.collection-wrapper--horizontal .products-grid, .collection-wrapper--horizontal_united .products-grid {
  order: 3;
}

.products-grid {
  margin-top: 2rem;
  transition: margin-left var(--duration-default);
}
@media screen and (min-width: 750px) {
  .products-grid {
    grid-row: 3;
  }
}
.products-grid .only-one {
  display: none;
}
.products-grid .only-one:first-child {
  display: block;
}
.products-grid .banner-fixed-position__banner {
  height: 100%;
  padding: 1rem;
}
.products-grid .banner-fixed-position__banner .banner-slider__item {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  padding: 1.6rem;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 100%;
}
.products-grid .banner-fixed-position__banner .banner-slider__item::before {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  padding-bottom: 133%;
}
.products-grid .banner-fixed-position__banner .banner-slider__item .banner-slider__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-overlay));
  z-index: 2;
  pointer-events: none;
}
.products-grid .banner-fixed-position__banner .banner-slider__item--details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 3;
  width: 100%;
  height: auto;
  gap: 0.8rem;
}
.products-grid .banner-fixed-position__banner .banner-slider__item--details__action {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.6rem;
}
.products-grid .banner-fixed-position__banner .banner-slider__item--details__heading {
  padding: 0.4rem;
  margin: 0;
}
.products-grid .banner-fixed-position__banner .banner-slider__item--details__badge {
  display: flex;
}
.products-grid .banner-fixed-position__banner .banner-slider__item--details__badge .banner-slider__badge_image {
  object-fit: contain;
  max-width: 6rem;
  max-height: 3rem;
}
.products-grid .banner-fixed-position__banner .banner-slider__item__image > img {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--duration-default) linear;
}
.products-grid .banner-fixed-position__banner:hover .banner-slider__item__image > img {
  transform: scale(1.03);
  transition: transform var(--duration-default) linear;
}
.products-grid_no-filter, .products-grid.full-width {
  grid-column: span 2;
}
.products-grid_no-filter .collection-product-list, .products-grid.full-width .collection-product-list {
  display: grid;
  grid-gap: 1.6rem 0;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 576px) {
  .products-grid_no-filter .collection-product-list, .products-grid.full-width .collection-product-list {
    grid-gap: 2.4rem 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .products-grid_no-filter .collection-product-list, .products-grid.full-width .collection-product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .products-grid_no-filter .collection-product-list, .products-grid.full-width .collection-product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1150px) {
  .products-grid_no-filter .collection-product-list, .products-grid.full-width .collection-product-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.products-grid_no-filter .collection-product-list .banner-fixed-position-fixed, .products-grid.full-width .collection-product-list .banner-fixed-position-fixed {
  grid-row: 2/3;
  grid-column: 1/2;
}
@media screen and (min-width: 576px) {
  .products-grid_no-filter .collection-product-list .banner-fixed-position-fixed, .products-grid.full-width .collection-product-list .banner-fixed-position-fixed {
    grid-column: 3/4;
  }
}
@media screen and (min-width: 750px) {
  .products-grid_no-filter .collection-product-list .banner-fixed-position-fixed, .products-grid.full-width .collection-product-list .banner-fixed-position-fixed {
    grid-column: 4/5;
  }
}
@media screen and (min-width: 990px) {
  .products-grid_no-filter .collection-product-list .banner-fixed-position-fixed, .products-grid.full-width .collection-product-list .banner-fixed-position-fixed {
    grid-column: 5/6;
  }
}
@media screen and (min-width: 1150px) {
  .products-grid_no-filter .collection-product-list .banner-fixed-position-fixed, .products-grid.full-width .collection-product-list .banner-fixed-position-fixed {
    grid-column: 6/7;
  }
}

.collection {
  position: relative;
}
.collection-filters {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 990px) {
  .collection-filters {
    display: block;
  }
}
.collection-product-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection-product {
  position: relative;
}
.collection-product .loading-overlay {
  inset: 0;
  z-index: 6;
  display: none;
  width: 100%;
  padding: 0 5rem;
  background-color: rgba(var(--color-background), 0.7);
}
.collection-product.loading > .loading-overlay {
  display: block;
}
.collection-product.loading > .loading-overlay .loading-overlay__spinner {
  top: 15rem;
}

.collection-product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.6rem 0;
  margin: -10px;
}
@media screen and (min-width: 750px) {
  .collection-product-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.4rem 0;
  }
}
@media screen and (min-width: 990px) {
  .collection-product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1150px) {
  .collection-product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
.collection-product-list .banner-fixed-position-fixed {
  grid-row: 2/3;
  grid-column: 1/2;
}
@media screen and (min-width: 576px) {
  .collection-product-list .banner-fixed-position-fixed {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 750px) {
  .collection-product-list .banner-fixed-position-fixed {
    grid-column: 3/4;
  }
}
@media screen and (min-width: 990px) {
  .collection-product-list .banner-fixed-position-fixed {
    grid-column: 4/5;
  }
}
@media screen and (min-width: 1150px) {
  .collection-product-list .banner-fixed-position-fixed {
    grid-column: 5/6;
  }
}
.collection-product-list .collection-product-card {
  height: 100%;
  width: 100%;
}
.collection-product-list--2-mobile .collection-product-card {
  width: calc(50% - 1.2rem);
}
@media screen and (min-width: 1150px) {
  .collection-product-list--2-mobile .collection-product-card {
    width: calc(33.3333333333% - 1.6rem);
  }
}
@media screen and (max-width: 575px) {
  .collection-product-list--2-mobile .collection-product-card .card-information__group {
    flex-direction: column;
    row-gap: 0.8rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card__title {
    font-size: calc(var(--font-heading-card-scale) * 0.9rem);
  }
  .collection-product-list--2-mobile .collection-product-card .card__description {
    font-size: 1rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card__information-top {
    position: static;
    padding: 1rem 0 0.2rem 0;
  }
  .collection-product-list--2-mobile .collection-product-card .card__badge {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    right: 0.8rem;
    max-width: 100%;
  }
  .collection-product-list--2-mobile .collection-product-card .badge {
    font-size: 1.1rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card__subtitle,
.collection-product-list--2-mobile .collection-product-card .card__vendor::after {
    font-size: 0.8rem;
  }
  .collection-product-list--2-mobile .collection-product-card .price {
    font-size: 1.2rem;
  }
  .collection-product-list--2-mobile .collection-product-card .price--on-sale .price__sale {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 0.4rem;
  }
  .collection-product-list--2-mobile .collection-product-card .price--on-sale .price__sale dt {
    order: 1;
  }
}
.collection-product-list img.img-scale {
  transition: transform var(--duration-default) ease;
}
.collection-product-list .collections-grid__card:hover img.img-scale {
  transform: scale(1.05);
}
@media screen and (min-width: 1150px) {
  .collection-product-list .collection-product-card--portrait {
    min-height: 70rem;
  }
}
@media screen and (min-width: 1360px) {
  .collection-product-list .collection-product-card--portrait {
    min-height: 78rem;
  }
}
@media screen and (min-width: 1150px) {
  .collection-product-list .collection-product-card {
    height: 100%;
  }
  .collection-product-list .collection-product-card--portrait .card-wrapper::before {
    padding-bottom: 130%;
  }
  .collection-product-list .collection-product-card--square .card-wrapper::before {
    padding-bottom: 100%;
  }
  .collection-product-list .collection-product-card--landscape .card-wrapper::before {
    padding-bottom: 70%;
  }
}

.collection-product-image {
  position: relative;
  display: none;
  grid-column-start: 3;
  grid-row: 2/span 2;
  margin: -1px -1px 0;
  overflow: hidden;
  z-index: 2;
}
@media screen and (min-width: 990px) {
  .collection-product-image {
    display: block;
  }
}
.collection-product-image--left {
  grid-column-start: 1;
}
.collection-product-image__wrapper {
  width: 100%;
  height: 100%;
}
.collection-product-image__media {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 115%;
  object-fit: cover;
}

.title-wrapper-empty .title .link {
  font-size: inherit;
  letter-spacing: 0;
  transition: var(--duration-default);
}

.collections-grid {
  display: grid;
  gap: 0.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 750px) {
  .collections-grid--2, .collections-grid--3, .collections-grid--4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .collections-grid--3, .collections-grid--4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .collections-grid--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.collections-grid--3 .collections-grid__information, .collections-grid--4 .collections-grid__information {
  padding: 2.4rem;
}
.collections-grid__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(var(--color-overlay), var(--opacity));
  transition: background-color var(--duration-default);
  z-index: 1;
}
.collections-grid__item {
  position: relative;
  display: flex;
  border-radius: 0.4rem;
  overflow: hidden;
}
.collections-grid__item:hover .collections-grid__overlay {
  background-color: rgba(var(--color-overlay), var(--opacity-hover));
}
.collections-grid__item:hover .button {
  opacity: 1;
}
.collections-grid__item::after {
  content: "";
}
.collections-grid__item--landscape::after {
  padding-bottom: 38%;
}
.collections-grid__item--portrait::after {
  padding-bottom: 130%;
}
.collections-grid__item--square::after {
  padding-bottom: 100%;
}
.collections-grid__information {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .collections-grid__information {
    padding: 4rem;
  }
}
.collections-grid__information *:not(.button) {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.collections-grid__information .button {
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 750px) {
  .collections-grid__information .button {
    opacity: 0;
    transition: background-color var(--duration-default), color var(--duration-default), opacity var(--duration-default);
  }
}
.collections-grid__image {
  position: absolute;
  inset: 0;
}
.collections-grid__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collections-grid__image--contain img {
  object-fit: contain;
}
.collections-grid__title {
  margin: 0;
}
.collections-grid__desc {
  margin-top: 0.8rem;
  margin-bottom: 0;
  max-width: 38rem;
}
@media screen and (min-width: 576px) {
  .collections-grid__desc {
    margin-top: 2.4rem;
  }
}
.collections-grid__link {
  margin-top: 1.6rem;
}
@media screen and (min-width: 576px) {
  .collections-grid__link {
    margin-top: 3.2rem;
  }
}
.collections-grid__link_overlay {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.collection-wrapper--empty {
  display: flex;
  align-items: center;
  justify-content: center;
}